.wrapper {
	position: relative;
	box-sizing: border-box;
	background-color: light-dark(
		var(--mantine-color-gray-0),
		var(--mantine-color-dark-8)
	);
}

.inner {
	position: relative;
	padding-top: 120px;
	padding-bottom: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 48em) {
	.inner {
		flex-direction: column-reverse;
		padding-top: 80px;
		padding-bottom: 60px;
	}
}

.content {
	max-width: 480px;
	margin-right: calc(var(--mantine-spacing-xl) * 3);
}

@media (max-width: 62em) {
	.content {
		max-width: 100%;
		margin-right: 0;
	}
}

.title {
	color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
	font-family:
		Greycliff CF,
		var(--mantine-font-family);
	font-size: 54px;
	line-height: 1.2;
	font-weight: 900;
	margin-bottom: var(--mantine-spacing-md);
}

@media (max-width: 36em) {
	.title {
		font-size: 32px;
	}
}

.description {
	font-size: var(--mantine-font-size-lg);
	line-height: 1.6;
}

.control {
	padding-left: 50px;
	padding-right: 50px;
	font-family:
		Greycliff CF,
		var(--mantine-font-family);
	font-size: 22px;
}

@media (max-width: 36em) {
	.control {
		flex: 1;
		font-size: 18px;
	}
}

.image {
	flex: 1;
	max-width: 400px;
}

@media (max-width: 48em) {
	.image {
		margin-bottom: var(--mantine-spacing-xl);
		width: 100%;
	}
}
