.button {
  --color: #008ef4;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  width: 300px;
  height: 40px;
  position: relative;
  isolation: isolate;
}

.button::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  inset: 0;
  scale: 0 1;
  transform-origin: right;
  transition: scale 450ms;
}

.button:hover::after,
.button:focus-visible::after {
  transform-origin: left;
  scale: 1 1;
}
