.bg {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    120deg,
    #000000 0%,
    #000000 30%,
    #030c8d 60%,
    #08a4ff 80%,
    #3700cf 100%
  );
}

.glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.glass li {
  position: absolute;
  display: block;
  list-style: none;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.514);
  animation: spin 5s linear infinite;
  bottom: -150px;
}

.glass li:nth-child(1) {
  left: 35%;
  width: 200px;
  height: 200px;
  animation-delay: 0s;
}

.glass li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.glass li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.glass li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.glass li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.glass li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.glass li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.glass li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.glass li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.glass li:nth-child(10) {
  left: 85%;
  width: 300px;
  height: 300px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.glass li:nth-child(11) {
  left: 105%;
  width: 30px;
  height: 30px;
  animation-delay: 0s;
  animation-duration: 7s;
}

.glass li:nth-child(12) {
  left: 100%;
  width: 25px;
  height: 25px;
  animation-delay: 0s;
  animation-duration: 6s;
}

@keyframes spin {
  0% {
    transform: translateY(0) translateX(0px) rotate(0deg);
    opacity: 0;
    border-radius: 70%;
  }
  20% {
    transform: translateY(-250px) translateX(-50px) rotate(90deg);
    opacity: 1;
    border-radius: 50%;
  }

  40% {
    transform: translateY(-500px) translateX(-150px) rotate(180deg);
    opacity: 1;
    border-radius: 30%;
  }

  100% {
    transform: translateY(-1000px) translateX(-300px) rotate(360deg);
    opacity: 0;
    border-radius: 100%;
  }
}
